/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b5f5c0;/* Light grey background */
    color: #333; /* Dark grey text */
    margin: 0;
    padding: 0;
}

/* Container */
.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #dffbe1; /* White background for content */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #2e7d32; /* Green color */
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    color: #090909; /* Grey color */
}

/* Image */
img {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
}

/* Buttons */
.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    background-color: #2e7d32; /* Green color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buttons button:hover {
    background-color: #1b5e20; /* Darker green on hover */
}

/* Form Styles */
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: black;
}

form button[type="submit"] {
    width: 100%;
    background-color: #2e7d32; /* Green color */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

form button[type="submit"]:hover {
    background-color: #1b5e20; /* Darker green on hover */
}